<div class="container-fluid">
<h1>Posts</h1>

<table>
<tr>
<td>Disease</td>
<td>Comments</td>
<td>Latitude</td>
<td>Longitude</td>
<td>User</td>
</tr>
<% @posts.each do |post| %>
<tr>
	<td><%= post.title %></td>
	<td><%= post.body %></td>
	<td><%= post.latitude %></td>
	<td><%= post.longitude %></td>
	<td><%= post.user.name %></td>
	<td><%= link_to post.title, post_path(post) %></td>

</tr>
<% end %>
</table>
</div>